<div class="example-element-detail" [@detailExpand]="expandedElement ? 'expanded' : 'collapsed'">
    <ng-container *ngIf="allegati && allegati.length; else noData">
      <table mat-table [dataSource]="allegati" class="mat-elevation-z8">

        <ng-container matColumnDef="tipologia">
          <th mat-header-cell *matHeaderCellDef> Tipologia </th>
          <td mat-cell *matCellDef="let allegato"> {{allegato.tipologia}}</td>
        </ng-container>
        <ng-container matColumnDef="partecipante">
          <th mat-header-cell *matHeaderCellDef> Partecipante </th>
          <td mat-cell *matCellDef="let allegato"> {{allegato.partecipante}}</td>
        </ng-container>
        <ng-container matColumnDef="dataCorso">
          <th mat-header-cell *matHeaderCellDef> DataCorso </th>
          <td mat-cell *matCellDef="let allegato"> {{allegato.dataCorso | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="codiceFiscale">
          <th mat-header-cell *matHeaderCellDef> CodiceFiscale </th>
          <td mat-cell *matCellDef="let allegato"> {{allegato.codiceFiscale}}</td>
        </ng-container>
        <ng-container matColumnDef="mansione">
          <th mat-header-cell *matHeaderCellDef> Mansione </th>
          <td mat-cell *matCellDef="let allegato"> {{allegato.mansione}}</td>
        </ng-container>
        <ng-container matColumnDef="modalità">
          <th mat-header-cell *matHeaderCellDef> Modalità </th>
          <td mat-cell *matCellDef="let allegato"> {{ allegato['modalità']}}</td>
        </ng-container>
        <ng-container matColumnDef="contatore">
          <th mat-header-cell *matHeaderCellDef> Contatore </th>
          <td mat-cell *matCellDef="let allegato" style="display: none;"> {{allegato.contatore}}</td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Descrizione </th>
          <td mat-cell *matCellDef="let allegato"> {{allegato.desc}} </td>
        </ng-container>

        <ng-container matColumnDef="dataAllegato">
            <th mat-header-cell *matHeaderCellDef> Data Allegato </th>
            <td mat-cell *matCellDef="let allegato">
              <div class="flex-container">
                {{allegato.dataAllegato | date: 'dd/MM/yyyy'}}
                <mat-icon *ngIf="!isPartecipante(allegato.tipologia)" (click)="eseguiAzione(0, allegato)" class="icon-right">
                  <ng-container *ngIf="!isCurrentFileDownloading[allegato.contatore.toString()] else downloadingIcon">
                    cloud_download
                  </ng-container>
                  <ng-template #downloadingIcon>
                    <mat-icon class="icon-right spinner">hourglass_empty</mat-icon>
                  </ng-template>
                </mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dataRientro">
            <th mat-header-cell *matHeaderCellDef> Data Rientro </th>
            <td mat-cell *matCellDef="let allegato">
              <div class="flex-container">
                <ng-container *ngIf="allegato.data_Rientro; else noDataRientro">
                  {{allegato.data_Rientro | date: 'dd/MM/yyyy'}}
   <!-- Per ora disabilitato <mat-icon (click)="eseguiAzione(1, allegato.contatore)" class="icon-right">image</mat-icon> -->
                </ng-container>
                <ng-template #noDataRientro>
                  <div>DATO NON PRESENTE</div>
                </ng-template>
              </div>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="['tipologia','partecipante','dataCorso','codiceFiscale','mansione','modalità', 'desc', 'dataAllegato', 'dataRientro' ]" class="my-header"></tr>
        <tr mat-row *matRowDef="let row; columns: ['tipologia','partecipante','dataCorso','codiceFiscale','mansione','modalità', 'desc', 'dataAllegato', 'dataRientro'];"></tr>
      </table>
    </ng-container>

    <ng-template #noData>
      <div>NESSUN DATO PRESENTE</div>
    </ng-template>
  </div>
