################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/IncarichiCUBack/.vs/IncarichiCUServer/FileContentIndex
/IncarichiCUBack
/IncarichiCUBack/.vs/IncarichiCUServer/v17/.suo
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.assets.cache
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.GeneratedMSBuildEditorConfig.editorconfig
