################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/IncarichiCUBack/.vs/IncarichiCUServer/FileContentIndex
/IncarichiCUBack
/IncarichiCUBack/.vs/IncarichiCUServer/v17/.suo
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.assets.cache
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.GeneratedMSBuildEditorConfig.editorconfig
/IncarichiCUBack/bin/Debug/net6.0/IncarichiCUServer.dll
/IncarichiCUBack/bin/Debug/net6.0/IncarichiCUServer.pdb
/IncarichiCUBack/obj/Debug/net6.0/ref/IncarichiCUServer.dll
/IncarichiCUBack/obj/Debug/net6.0/refint/IncarichiCUServer.dll
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.csproj.FileListAbsolute.txt
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.dll
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.genruntimeconfig.cache
/IncarichiCUBack/obj/Debug/net6.0/IncarichiCUServer.pdb
/IncarichiCUBack/obj/IncarichiCUServer.csproj.nuget.dgspec.json
/IncarichiCUBack/obj/project.assets.json
/IncarichiCUBack/obj/project.nuget.cache
