<mat-toolbar class="menuGradient menuShadow">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span style="margin-left: 40px;">
    <!-- Inserisci titolo per navbar qui -->
  </span>
  <span></span>

  <img src="../../../assets/images/sopraninoLogo.png" class="logo" alt="Logo">
</mat-toolbar>

<mat-sidenav #sidenav mode="over" class="mat-elevation-z8">
  <div class="links">
    <a (click)="goToIncarichi(); sidenav.close()" mat-button class="custom-color"><mat-icon>assignment</mat-icon>Incarichi</a>
  </div>
</mat-sidenav>
