.mat-icon:hover {
  cursor: pointer;
}
.my-header{
    background-color: #f5f5f5;
}

.flex-container {
    display: flex;
    align-items: center;
  }

  .mat-icon.spinner {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .icon-right
  {
  padding-left: 5px;
  }
