$theme-accent: #3d7352;
$bg-row-tabel-header: #ededed;
$bg-row-tabel-header-hover: #e0e0e0;
//$base-accent: #5486ff;
//$theme-background: #fafbff;
//$gray-base: #36363f;
//$side-panel-min-width: 60px;
//$dark-text: #21293b;
